<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="pannel-title">
            <span class="glyphicon glyphicon-plus-sign">                
            </span> Products
        </h4>
    </div>
    <div class="panel-body">
        <app-product
            *ngFor="let product of products"
            [product]="product"
            (buyProductTask)="onBuyProductTask($event)">
        </app-product>
    </div>
</div>

<app-cart-list *ngIf="productsInCart.length>0; else elseBlock"
    [products]="productsInCart" 
    (removeFromCart)="onRemoveFromCart($event)">
</app-cart-list>
<ng-template #elseBlock><div>Cart is empty</div></ng-template>