
<div appHightlight class="panel-default">
    <div class="panel-body">
        <ul>
            <li>Name: {{productInCart.product.name}}</li>
            <li>Description: {{productInCart.product.description}}</li>
            <li>Quantity: {{productInCart.quantity}}</li>
            <li>Price: {{productInCart.product.price}}</li>
            <li>Category: {{productInCart.product.category}}</li>
        </ul>
        
        <button class="btn btn-primary" (click)="onIncreaseQuantity(productInCart)">increase</button>
        <button class="btn btn-primary" (click)="onDecreaseQuantity(productInCart)">decrease</button>
        <button class="btn btn-primary" (click)="onRemove(productInCart)">remove</button>
    </div>
</div>
