
<div appHightlight class="panel-default">
    <div class="panel-body">
        <ul>
            <li>Name: {{productInCart.name| uppercase }}</li>
            <li>Description: {{productInCart.description}}</li>
            <li>Quantity: {{productInCart.quantity}}</li>
            <li>Price: {{productInCart.price | currency }}</li>
            <li>Category: {{productInCart.category}}</li>
        </ul>
        
        <button class="btn btn-primary" (click)="onIncreaseQuantity()">increase</button>
        <button class="btn btn-primary" (click)="onDecreaseQuantity()">decrease</button>
        <button class="btn btn-primary" (click)="onRemove()">remove</button>
    </div>
</div>
