<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="pannel-title">
            Your cart
        </h4>
    </div>
    <div class="panel-body" *ngIf="productsInCart.length>0; else elseBlock">
        <div>
            <select (change)="onSortProperty()" [(ngModel)]="sortProperty">
                <option *ngFor="let sortProp of sortProperties" [ngValue]="sortProp">{{sortProp.name}}</option>            
            </select>
        </div>

        <button *ngIf="!isEmptyCart" class="btn btn-primary" (click)="onClear()">clear</button>
        <app-cart-item 
            *ngFor="let productInCart of productsInCart | orderBy:sortPropertyKey:sortPropertyIsAsc"
            [productInCart]="productInCart"
            (removeProductTask)="onRemove($event)"
            (increaseQuantity)="onIncreaseQuantity($event)"
            (decreaseQuantity)="onDecreaseQuantity($event)">
        </app-cart-item>
        <button class="btn btn-primary"
		    (click)="onCreateOrder()">Create order</button>
	    <br><br>
    </div>
    <ng-template #elseBlock>
        <div class="panel panel-default">
            <div class="panel-body">
                Cart is empty
            </div>
        </div>
    </ng-template>
  <div class="panel-footer">Products in cart {{totalAmount}}. Total sum: {{totalSum}}</div>
</div>